@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media only screen and (max-width:940px) {
    .map-holder{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
    }
    .map{
        width: 100vw;
        height: 70vh;
    }

    .map-info-text{
        display: flex;
        flex-direction: column;
    }
    .toolbar{
        display: flex;
        flex-direction: row;
        height: 30vh;
        overflow: hidden;
        width: 100vw;
    }

    .source-type{
        display: flex;
        width: 80px;
        flex-direction: row;
        justify-content: center;
        padding:0px 0px 0px 5px;
    }

    .sources-info{
        display: flex;
        width: 80px;
        flex-direction: column;
        overflow-y: scroll;
    }

    .loc-type{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }
    
    .source-list{
        display: flex;
        width: 80px;
        flex-direction: column;
        overflow-y: scroll;
    }

    .news-list{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        flex: 1;
    }

    .news-item > div > a > img{
        width: 220px;
        height: 12vh;
        border-radius: 10px;
    }
    
    .news-item > a{
        display: block;
        margin: 0px;
        font-size: 0.9em;
        word-wrap: break-word;
        overflow: hidden;
        text-decoration: none;
        color: black;
        z-index: 9999;
        width: 220px;
    }

    @media only screen and (max-width: 810px){
        .news-item > div > a > img{
            width: 150px;
            height: 12vh;
            border-radius: 10px;
        }
        
        .news-item > a{
            display: block;
            margin: 0px;
            font-size: 0.9em;
            word-wrap: break-word;
            overflow: hidden;
            text-decoration: none;
            color: black;
            z-index: 9999;
            width: 150px;
        }
    }

    .arrow-open {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .arrow-close {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    }
}

@media only screen and (min-width: 941px ) {
    .map-holder{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 90vh;
    }
    
    .map{
        width: 75vw;
        height: 90vh;
    }
    .map-info-text{
        display: flex;
        flex-direction: row;
    }
    .toolbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        width: 25vw;
        overflow: hidden;
    }

    .source-type{
        display: flex;
        flex-direction: column;
        padding:0px 0px 0px 20px;
    }

    .sources-info{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 20vh;
        overflow-y: scroll;
    }

    .loc-type{
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .source-list{
        width: 80px;
        margin-left: 10px;
        padding: 0%;
        height: 70vh;
        overflow-y: scroll;
    }
    
    .news-list{
        display: flex;
        flex-direction: column;
        flex:1;
        width: 100%;
        height: 70vh;
        overflow-y: scroll;
        width: calc(25vw - 90px)
    }
    
    .news-item > div > a > img{
        width: 100%;
        border-radius: 10px;
    }

    .news-item > a{
        display: block;
        font-size: 0.9em;
        text-decoration: none;
        color: black;
    }

    .arrow-open{
        width: 100%;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
        
    .arrow-close{
        width: 100%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
html,body{
    scroll-behavior: smooth;
    font-family: 'Poppins';
    margin: 0%;
    padding: 0%;
}

.navbar{
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
}

.place-data{
    padding-top: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-item{
    width:fit-content;
    display: block;
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
}
 
.source-logo{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius:50%;
    margin-top:20px;
    border: 5px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0
}

.source-logo:hover{
    border: 5px solid rgb(166, 166, 166);
}

.source-logo:focus{
    border: 5px solid rgb(166, 166, 166);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 10px;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar-thumb {
background-color: #d6dee1;
border-radius: 15px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #a8bbbf;
}